// article page
.search-input-box {
  background: $section_bg;
  padding: 7px;
  border: none;
  width: 100%;
  height: 47px;
  text-align: center;
  margin-bottom: 1px;
}
.article-container {
  position: relative;
  background: $section_bg;
  z-index: 50;
  color: black;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  aside {
    background: $section_bg2;
    padding: 20px;
    ul {
      list-style-type: none;
      padding-left: 10px;
      li {
        line-height: 1;
        font-weight: 700;
        margin-bottom: 16px;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  article {
    padding-left: 30px;
    h1,
    h2 {
      font-family: "Proza Libre", sans-serif;
    }
    h1 {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    a {
      color: $primary_text_color;
    }
  }
}
@import "_search_card";
