nav {
  padding: 20px 0px 0px 60px;
  z-index: 1;
  width: 100vw;
  display: flex;
  transition: 0.2s;
  Img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    // margin: auto;
    z-index: 101;
  }
  .title {
    padding-left: 20px;
    min-width: 370px;
    h1 {
      font-size: 44px;
      line-height: 0.5;
      transform: translateY(40%);
    }
    p {
      line-height: 1.1;
      font-size: 16px;
      letter-spacing: 0.01em;
      color: #333;
    }
  }
  ul {
    font-family: "Proza Libre", sans-serif;
    font-size: 21px;
    margin: auto;
    list-style-type: none;
    width: 80vw;
    display: flex;
    padding-left: auto;
    li {
      margin: auto;
      a {
        text-decoration: none;
        color: $primary_text_color;
      }
    }
  }
  input {
    display: none;
  }
  @media (max-width: 1256px) {
    padding: 20px 0px 0px 20px;
    .title {
      text-align: center;
    }
    .ham {
      display: block;
      position: relative;
      height: 30px;
      margin: 40px 40px auto auto;
    }
    span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;

      background: #cdcdcd;
      border-radius: 3px;

      z-index: 101;

      transform-origin: 4px 0px;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      &:first-child {
        transform-origin: 0% 0%;
      }
      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }
    input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;

      cursor: pointer;

      opacity: 0; /* hide this */
      z-index: 102; /* and place it over the hamburger */

      -webkit-touch-callout: none;
      &:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-9px, -9px);
      }
      &:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      &:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(-10px, 12px);
      }
    }
    ul {
      width: 100vw;
      height: 100vh;
      background: $secondary_text_color;
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 100;
      display: grid;
      text-align: center;
      padding: 20vh 0px;
      margin: 0px;
      transition: 0.2s;
    }
  }
}
