@import "./bootstrap/_bootstrap-grid";
@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:wght@500&family=Roboto&display=swap");

$page_bg: #0c4b33;
$section_bg2: #20aa76;
$section_bg: #44b78b;
$primary_text_color: #ffffff;
$secondary_text_color: #000000;

html,
body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
  background: $page_bg;
  color: $primary_text_color;
}

//// index page styling
.background-logo {
  position: fixed;
  opacity: 0.05;
  transform: translate(-17vw, 0vh);
  z-index: 0;
}

@import '_content_page';
@import '_nav';
@import '_header';
@import '_index_card';
