@import "./bootstrap/_bootstrap-grid";
@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:wght@500&family=Roboto&display=swap");

$page_bg: #0c4b33;
$section_bg2: #20aa76;
$section_bg: #44b78b;
$primary_text_color: #ffffff;
$secondary_text_color: #000000;

html,
body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
  background: $page_bg;
  color: $primary_text_color;
}

//// index page styling
.background-logo {
  position: fixed;
  opacity: 0.05;
  transform: translate(-17vw, 0vh);
  z-index: 0;
}
nav {
  width: 100vw;
  display: flex;
  transition: 0.2s;
  Img {
    margin: auto;
    z-index: 101;
  }
  ul {
    font-family: "Proza Libre", sans-serif;
    font-size: 21px;
    margin: auto;
    list-style-type: none;
    width: 80vw;
    display: flex;
    padding-left: 50vw;
    li {
      margin: auto;
      a {
        text-decoration: none;
        color: $primary_text_color;
      }
    }
  }
  input {
    display: none;
  }
  @media (max-width: 767px) {
    .ham {
      display: block;
      position: relative;
      height: 30px;
      margin: 40px 40px auto auto;
    }
    span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;

      background: #cdcdcd;
      border-radius: 3px;

      z-index: 101;

      transform-origin: 4px 0px;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      &:first-child {
        transform-origin: 0% 0%;
      }
      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }
    input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;

      cursor: pointer;

      opacity: 0; /* hide this */
      z-index: 102; /* and place it over the hamburger */

      -webkit-touch-callout: none;
      &:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-9px, -9px);
      }
      &:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      &:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(-10px, 12px);
      }
    }
    ul {
      width: 100vw;
      height: 100vh;
      background: $secondary_text_color;
      position: absolute;
      z-index: 100;
      display: grid;
      text-align: center;
      padding: 0px;
      transition: 0.2s;
    }
  }
}
header {
  display: flex;
  width: 100vw;
  height: 32vh;
  font-family: "Proza Libre", sans-serif;
  .center {
    margin: auto;
    text-align: center;
    h1 {
      font-size: 42px;
    }
    h2 {
      font-size: 16px;
    }
  }
}
.border-right {
  border-right: 1px solid $section_bg;
}
.index-card {
  margin: 40px 0px;
  width: 100%;
  display: flex;
  font-family: "Proza Libre", sans-serif;
  .center {
    margin: auto;
    text-align: center;
    h2 {
      line-height: 1.1;
    }
    .button {
      padding: 6px 24px;
      border: 2px solid $primary_text_color;
      border-radius: 8px;
      transition: 0.2s;
      text-decoration: none;
      color: $primary_text_color;
      &:hover {
        background: $primary_text_color;
        color: $page_bg;
      }
    }
  }
}

// article page
.article-container {
  position: relative;
  background: $section_bg;
  z-index: 50;
  color: black;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  aside {
    background: $section_bg2;
    padding: 20px;
    input {
      background: $section_bg;
      width: 100%;
      border: none;
      padding: 7px;
      text-align: center;
    }
    ul {
      list-style-type: none;
      padding-left: 10px;
      li {
        line-height: 1;
        font-weight: 700;
        margin-bottom: 16px;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  article {
    padding-left: 30px;
    h1,
    h2 {
      font-family: "Proza Libre", sans-serif;
    }
    h1 {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}
