header {
  min-height: 70vh;
}
.logo {
  display: flex;
  img {
    margin: auto;
    width: 30vw;
  }
}
.heading-text {
  display: inline-grid;
  h1 {
    text-align: center;
    margin: auto;
    font-size: 4.375em;
    letter-spacing: -0.002em;
    line-height: 1.2em;
  }
  .button {
    text-align: center;
    margin: -30px auto auto auto;
    padding: 10px 30px;
    background-color: $porange;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 19px;
    line-height: 25px;
    letter-spacing: 0.02px;
  }
}

.address {
  display: flex;
  min-height: 50px;
  background-color: $pred;
  div {
    color: white;
    margin: auto;
    font-size: 17px;
    text-align: center;
    address {
      margin-bottom: 10px;
    }
    p {
      line-height: 15px;
    }
    a {
      color: white;
      &:hover {
        color: $pyellow;
      }
    }
  }
}
